<?php if ($id):	?>
	<h3>Oled teinud oma valiku</h3>
	<p>Valisid selle ilusa pildi: <br/>
		<img src="<?php echo $pildid[$id]['src'];?>" alt="väljavalitu"/></p>
		<a href="?page=vote&amp;reset">vali uuesti!</a>
<?php else: ?>
	<h3>Sellist pilti ei eksisteeri, palun tee uus <a href="?page=vote">valik</a>.</h3>
<?php endif; ?>