body {
	background: url("Banana.jpg") center fixed;
	background-size: cover;
	margin:0px;
}
#pealkiri {
	color: DarkOrange;
	margin-top:0px;
}
#wrap {
	background: rgba(240, 230, 140, 0.3);
min-width:600px;
max-width:800px;
margin:auto;
}
#content {
	padding:15px;
	min-height:400px;
	text-align:justify ;
	background: rgba(255, 255 , 0, 0.3);
}

#galerii img {
	border:solid DarkOrange 2px;
  border-radius:10px;
}
#galerii {
	text-align: center;
}
#menu {list-style:none; padding:0px; margin-bottom:0px;}
#menu li {
	display: inline-block;
}
#menu a{
	display: inline-block;
	padding :4px 6px;
	text-decoration: none;
	color: DarkOrange;
	font-weight:bold;
}
#menu li:hover, #menu li:hover a{
	color:Orangered;
	background: rgba(255, 255 , 0, 0.3);
}
#logod img{
	border:none;
}
#taust{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,0,0.7);
	z-index:5;
}
#tabel{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0 auto;
	z-index: 10;
	display:table;
  	width:100%;
  	min-width:600px;
  	height:100%;
}
#DetSisu{
	z-index: 10;
	display:table-cell;
  	vertical-align:middle;
}
#DetSisu p {
	z-index: 13;
	position: relative;
	max-width: 1000px;
	margin: 0px auto;
	background: rgba(255,255,255,0.7);
	padding: 10px;
}
#DetSisu img {
	position: relative;
	z-index: 13;
	max-width: 100%;
	max-height: 90%;
	display:table; 
  	margin:0 auto;
	border-radius: 3px;
}
#sulge {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 15;
	padding:4px;
	font-weight: bold;
	background: rgba(255,255,255,0.7); 
}
#hoidja {
	display:none;
	height: 0px;
}