﻿
<h1 id="pealkiri">Logi sisse</h1>

<form action="?mode=login" method="POST">
  <table>
    <tr>
      <td>Kasutajanimi:</td>
      <td><input type="text" name="username" <?php if(!empty($_POST['username'])) echo 'value="'.htmlspecialchars($_POST['username']).'"';?>/> <b style="color:red"><?php if(!empty($errors['un'])) echo $errors['un']; ?></b></td>
    </tr>
    <tr>
      <td>parool:</td>
      <td><input type="password" name="passwd"/> <b style="color:red"><?php if(!empty($errors['pw'])) echo $errors['pw']; ?></b></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="logi sisse"/></td>
    </tr>
  </table>
  <p style="color:red"><?php if(!empty($errors['wr'])) echo $errors['wr']; ?></p>
<a href="?mode=register">Registreeru</a>
</form>
