﻿
<h1 id="pealkiri"><?php if (!empty($pilt['id'])): ?>Muuda <?php else: ?>Lisa<?php endif; ?> pilte</h1>
<form action="?mode=pildivorm<?php if(!empty($pilt['id'])) echo "&id=".htmlspecialchars($pilt['id']);?>" method="POST" enctype="multipart/form-data">
  <table>
   
    <tr>
      <td>Pealkiri:</td>
      <td><input type="text" name="pealkiri" <?php if(!empty($pilt['title'])) echo "value=\"{$pilt['title']}\"";?>/> <span style="color:red;"><?php if(!empty($errors['pk'])) echo htmlspecialchars($errors['pk']);?></span></td>
    </tr>
    <tr>
      <td>Suur pilt:</td>
      <td><input type="file" name="suur"/> <span style="color:red;"><?php if(!empty($errors['s'])) echo htmlspecialchars($errors['s']);?></span></td>
    </tr>
    <tr>
      <td>Väike pilt:</td>
      <td><input type="file" name="v2ike"/> <span style="color:red;"><?php if(!empty($errors['v'])) echo htmlspecialchars($errors['v']);?></span></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="<?php if (!empty($pilt['id'])): ?>Muuda <?php else: ?>Lisa<?php endif; ?>"/></td>
    </tr>
  </table>
</form>

<h3>Muuda pilte:</h3>
<?php foreach($pildid as $pilt):?>
  <a href="?mode=pildivorm&amp;id=<?php echo $pilt['id']; ?>"><?php echo $pilt['author'].' - '.$pilt['title']; ?></a><br/>
<?php endforeach; ?>