body {
	background: url("Banana.jpg") center fixed;
	background-size: cover;
	margin:0px;
}
#pealkiri {
	color: DarkOrange;
	margin-top:0px;
}
#wrap {
	background: rgba(240, 230, 140, 0.3);
min-width:600px;
max-width:800px;
margin:auto;
}
#content {
	padding:15px;
	min-height:400px;
	text-align:justify ;
	background: rgba(255, 255 , 0, 0.3);
}

#galerii img {
	border:solid DarkOrange 2px;
  border-radius:10px;
}
#galerii {
	text-align: center;
}
#menu {list-style:none; padding:0px; margin-bottom:0px;}
#menu li {
	display: inline-block;
}
#menu a{
	display: inline-block;
	padding :4px 6px;
	text-decoration: none;
	color: DarkOrange;
	font-weight:bold;
}
#menu li:hover, #menu li:hover a{
	color:Orangered;
	background: rgba(255, 255 , 0, 0.3);
}
#logod img{
	border:none;
}
#taust{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index:5;
}
#tabel{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0 auto;
	z-index: 10;
	display:table;
  	width:100%;
  	height:100%;
  	color:white;
}
#cell{
	display:table-cell;
  	vertical-align:middle;
}
#sisu {
	position:relative; /* lisatud 8. prax*/
	display: table;
	margin: auto;
	background: rgba(0,0,0,0.7);
	padding: 10px 40px; /* lisatud 8. prax*/
}
#sulge {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 15;
	padding:4px;
	font-weight: bold;
}
#hoidja {
	display:none;
	height: 0px;
}
/* lisatud 8. prax */
#prev, #next {
	display:block;
	position: absolute;
	top:0px;
	bottom:0px;
	width: 40px;
}
#prev:hover, #next:hover{
	background-color: rgba(255,255,255,0.1);
}
#prev {
	left:0px;
	background: url("prev.png") center no-repeat;
}
#next {
	right:0px;
	background: url("next.png") center no-repeat;
}

.notice{
	background: rgba(255, 150, 0, 0.4);
	padding:3px;
	border:solid 1px orangered;
}