
	<h1>Galerii</h1>
	<div id="galerii">
		<?php foreach ($pildid as $id => $pilt): ?>
			<a href="?mode=pilt&amp;id=<?php echo htmlspecialchars($id); ?>"><img src="Thumbs/<?php echo htmlspecialchars($pilt['small']); ?>" alt="<?php echo htmlspecialchars($pilt['author']).' - '.htmlspecialchars($pilt['title']); ?>"/></a>
		<?php endforeach; ?>
	</div>

<div id="hoidja" style="display:none;">
  <div id="taust"></div>
  <div id="tabel">
    <div id="cell">
      <div id="sulge" onclick="hideDetails();">Sulge</div>
      <div id="sisu">
        <img id="suurpilt" src="Pictures/caution.gif" alt="ajutine"/><br/>
        <span id="inf">ajutine teks</span>
      </div>
    </div>
  </div>
</div>
