<img id="suurpilt" src="<?php echo $pilt['big']?>" onload="suurus(this);" alt="<?php echo $pilt['alt']; ?>"/><br/>
<span id="inf"><?php echo $pilt['alt']; ?></span>
<a id="prev" href="?mode=pilt&amp;id=<?php echo $eelmine; ?>" onclick="showDetails(this); return false;"></a>
<a id="next" href="?mode=pilt&amp;id=<?php echo $jargmine; ?>" onclick="showDetails(this); return false;"></a>