
<p class="korduv" style="display:inline-block; width:29%; border:solid #c0c0c0 2px; border-radius:5px; padding:10px; margin:1%;">
	<b><?php echo $value['Nimi']; ?></b> on <?php echo $value['Värvus']; ?>, <?php echo $value['Vanus']; ?> aastane kass, kellele <?php echo $value['Iseloom']; ?>
</p>
