﻿
<h1 id="pealkiri">Logi sisse</h1>
<form action="pealeht.html" method="POST">
  <table>
    <tr>
      <td>Kasutajanimi:</td>
      <td><input type="text" name="username"/></td>
    </tr>
    <tr>
      <td>parool:</td>
      <td><input type="password" name="passwd"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="logi sisse"/></td>
    </tr>
  </table>
<a href="?mode=register">Registreeru</a>
</form>
