﻿
<h1 id="pealkiri">Lisa pilte</h1>
<form action="pealeht.html" method="POST">
  <table>
    <tr>
      <td>Autor:</td>
      <td><input type="text" name="autor"/></td>
    </tr>
    <tr>
      <td>Pealkiri:</td>
      <td><input type="text" name="pealkiri"/></td>
    </tr>
    <tr>
      <td>Suur pilt:</td>
      <td><input type="file" name="suur"/></td>
    </tr>
    <tr>
      <td>Väike pilt:</td>
      <td><input type="file" name="v2ike"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Lisa"/></td>
    </tr>
  </table>
</form>
