﻿
<h1 id="pealkiri"><?php if (!empty($pilt['id'])): ?>Muuda <?php else: ?>Lisa<?php endif; ?> pilte</h1>
<form action="?mode=pildivorm<?php if(!empty($pilt['id'])) echo "&id=".htmlspecialchars($pilt['id']);?>" method="POST" enctype="multipart/form-data">
  <table>
    <tr>
      <td>Autor:</td>
      <td>
      <input type="text" name="autor" <?php if(!empty($pilt['author'])) echo "value=\"{$pilt['author']}\"";?>/> <span style="color:red;"><?php if(!empty($errors['au'])) echo htmlspecialchars($errors['au']);?></span></td>
    </tr>
    <tr>
      <td>Pealkiri:</td>
      <td><input type="text" name="pealkiri" <?php if(!empty($pilt['title'])) echo "value=\"{$pilt['title']}\"";?>/> <span style="color:red;"><?php if(!empty($errors['pk'])) echo htmlspecialchars($errors['pk']);?></span></td>
    </tr>
    <tr>
      <td>Suur pilt:</td>
      <td><input type="file" name="suur"/> <span style="color:red;"><?php if(!empty($errors['s'])) echo htmlspecialchars($errors['s']);?></span></td>
    </tr>
    <tr>
      <td>Väike pilt:</td>
      <td><input type="file" name="v2ike"/> <span style="color:red;"><?php if(!empty($errors['v'])) echo htmlspecialchars($errors['v']);?></span></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="<?php if (!empty($pilt['id'])): ?>Muuda <?php else: ?>Lisa<?php endif; ?>"/></td>
    </tr>
  </table>
</form>
